.App {
  min-height: 100vh;


}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: 2px solid;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  outline: none;
}

.search-button {
  background: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 30px;
}